objects/*
shared/*
bin/*
dso/*
temp/*
test/*
**/*.so


factory/db_primitive_orm/headers/
factory/db_primitive_orm/sources/*.cpp
factory/db_primitive_orm/objects
factory/db_business_logic_orm/objects
makefile.vars
Webserver-Backend/objects/*
Webserver-Backend/objects_fpic/*
Webserver-Backend/bin/*
**/*.pyc
.vscode

applications/blnk_closure/ledger_closure/bin/*
applications/blnk_closure/ledger_closure/objects/*

applications/blnk_closure/lms_closure/bin/*
applications/blnk_closure/lms_closure/objects/*

